<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>STOCK - Nuevo Pedido</title>
  <link rel="stylesheet" href="../css/styles2.css" />  <link rel="icon" href="../assets/caja.ico" type="image/x-icon">
</head>
<body>
  <div class="container container-index">
    <form action="#" th:action="@{new}" th:object="${pedido}" method="post">
      <a href="../index"><img src="../assets/caja.png" alt="insertar logo" class="logo" /></a>
      <h1> Nuevo Pedido </h1>

      <label for="producto">Producto:</label>
      <select id="producto" name="producto" required>
        <option value="">Seleccione un producto</option>
        <th:block th:each="producto : ${productos}">
          <option th:value="${producto.id_producto}" th:text="${producto.descripcion}"></option>
        </th:block>
      </select>

      <p>Cantidad: <input type="number" step="1" th:field="*{cantidad}" /></p>
      <p th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}">Cantidad error</p>

      <p>Fecha: <input type="date" th:field="*{fecha}" /></p>
      <p th:if="${#fields.hasErrors('fecha')}" th:errors="*{fecha}">Fecha error</p>

      <p>Proveedor: <input type="text" th:field="*{proveedor}" /></p>
      <p th:if="${#fields.hasErrors('proveedor')}" th:errors="*{proveedor}">Proveedor error</p>

      <input type="submit" value="Enviar Pedido">

      <div class="button-container-producto">
        <button class="product-button"> <a href="../pedido/pedidos">Volver a Pedidos</a></button>  </div>
    </form>
  </div>
</body>
</html>
