<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>STOCK - Nueva Compra</title>
	<link rel="stylesheet" href="../css/styles2.css" />
	<link rel="icon" href="../assets/stock.ico" type="image/x-icon" />
	<script>
		// Funcion para actualizar el total
		function updateTotal() {
			var productoSelect = document.getElementById("producto");
			var selectedOption = productoSelect.options[productoSelect.selectedIndex];
			var precioTotal = selectedOption.getAttribute("data-precio-total");
			var cantidad = document.getElementById("cantidad").value;

			// Calcular el total
			var total = 0;
			if (precioTotal && cantidad) {
				total = parseFloat(precioTotal) * parseInt(cantidad);
			}

			// Mostrar el total
			document.getElementById("totalDisplay").innerText = "Total: " + total.toFixed(2);
		}
	</script>
</head>

<body>
	<div class="container container-index">
		<form action="#" th:action="@{new}" th:object="${venta}" method="post">
			<a href="../venta/compras"><img src="../assets/caja.png" alt="insertar logo" class="logo" /></a>
			<h1>Nueva Compra</h1>

			<div class="lote-form-container">
				<label for="producto">Producto:</label>
				<p>
					Producto:
					<select class="lote-input" id="producto" name="producto" required onchange="updateTotal()">
						<option value="">Seleccione un producto</option>
						<th:block th:each="producto : ${productos}">
							<option th:value="${producto.id_producto}" th:text="${producto.descripcion}"
								th:data-precio-total="${producto.precio_total}"></option>
						</th:block>
					</select>
				</p>

				<p>
					Cantidad:
					<input class="lote-input" type="number" step="1" id="cantidad" th:field="*{cantidad}"
						oninput="updateTotal()" />
				</p>
				<p th:if="${#fields.hasErrors('cantidad')}" th:errors="*{cantidad}">
					Cantidad error
				</p>

				<p id="totalDisplay">Total: 0.00</p>

				<input class="product-button" type="submit" value="Realizar Compra" />

				<div class="button-container-producto">
					<button class="product-button">
						<a href="../venta/compras">Volver a mis Compras</a>
					</button>
				</div>
			</div>
		</form>
	</div>
</body>

</html>