<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>STOCK - Productos</title>
    <link rel="stylesheet" href="../css/styles2.css" />
    <link rel="icon" href="../assets/caja.ico"  type="image/x-icon">
  </head>
<body>
  <div class="container container-index"> 
    <form>
        <a href="../index"><img src="../assets/caja.png" alt="insertar logo" class="logo" /></a>
    <h1>Productos</h1>
    <table class="product-table"> <thead>
        <tr>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Stock</th>
          <th>Stock Mínimo</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="producto : ${productos}">
          <td><span th:text="${producto.descripcion}"></span></td>
          <td><span th:text="${producto.precio_total}"></span></td>
          <td><span th:text="${producto.stock}"></span></td>
          <td><span th:text="${producto.stock_minimo}"></span></td>
        </tr>
      </tbody>
    </table>
    <div class="button-container-producto">
       <button class="product-button"> <a href="../producto/form" >Nuevo Producto</a></button>
        <button class="product-button">Editar Producto</button>
        <button class="product-button">Eliminar Producto</button>
    </div>
</form>
</div>
</body>
</html>
