<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Lote Form</title>
  <link rel="stylesheet" href="../css/styles2.css">
</head>
<body>
  <div class="container container-index">
    <form action="#" th:action="@{new}" th:object="${lote}" method="post">
      <a href="../index"><img src="../assets/caja.png" alt="insertar logo" class="logo" /></a>
      <h1>Nuevo Lote</h1>

      <p>Cantidad: <input type="number" th:field="${lote.cantidad}" /></p>

      <p>Proveedor: <input type="text" th:field="${lote.proveedor}" /></p>
      <p>Precio: <input type="number" th:field="${lote.precio}" /></p>

      <p>Producto:
        <select th:field="${lote.producto.id_producto}">
          <option th:each="producto : ${productos}" th:value="${producto.id_producto}" th:text="${producto.descripcion}"></option>
        </select>
      </p>

      <label for="pedido">Pedido:</label>
      <select id="pedido" name="pedido" required>
        <option value="">Seleccione un pedido</option>
        <th:block th:each="pedido : ${pedidos}">
          <option th:value="${pedido.id_pedido}" th:text="${pedido.id_pedido}"></option>
        </th:block>
      </select>

      <input type="submit" value="Registrar Lote">
      <div class="button-container-producto">
        <button class="product-button"> <a href="../pedido/pedidos">Volver a Pedidos</a></button>  </div>
    </form>
  </div>

</body>
</html>
