<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>STOCK - Nuevo Lote</title>
    <link rel="stylesheet" href="../css/styles2.css" />
    <link rel="icon" href="../assets/stock.ico" type="image/x-icon" />
  </head>

  <body>
    <div class="container container-index">
      <form action="#" th:action="@{new}" th:object="${lote}" method="post">
        <a href="../index"
          ><img src="../assets/caja.png" alt="insertar logo" class="logo" />
        </a>
        <h1>Nuevo Lote</h1>
        <div class="lote-form-container">

          <p>
            Pedido:
            <select th:field="${lote.pedido.id_pedido}" class="lote-input">
              <option
                th:each="pedido : ${pedidos}"
                th:value="${pedido.id_pedido}"
                th:text="${pedido.producto.descripcion}"
              ></option>
            </select>
          </p>

          <input type="submit" value="Registrar Lote" class="product-button" />
          <div class="button-container-producto">
            <button class="product-button">
              <a href="../pedido/pedidos">Volver a Pedidos</a>
            </button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
